body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 50px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Tabla de reservas */
.container { 
    display: flex; 
    gap: 20px; 
}

.form-container { 
    flex: 1; 
}

.table-container { 
    flex: 1; 
}

table { 
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px; 
}

table, th, td { 
    border: 1px solid #ccc; 
}

th, td { 
    padding: 10px; 
    text-align: left; 
}

.delete-btn { 
    background-color: red; 
    color: white; 
    border: none; 
    padding: 5px 10px; 
    cursor: pointer; 
}

.delete-btn:hover { 
    background-color: darkred; 
}
